/**
 *  Content Style Sheet
 *
 *
 * Copyright (c) 2014. by way2cu
 * Author: khalid Sawalhi
 */

body{
	margin: 0px;
	padding:0px;
	text-align: center;
}

div.inner_wrap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

a.logo {
        position: absolute;
        bottom: 15px;
        right: 40px;
}

a.logo img {
        height: 85px;
        outline: 0px;
}

a.menu {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 50px;
}

nav#menu {
        margin-top: 10px;
}


header a.phone {
        padding-left: 35px;
        position: absolute;
        left: 10px;
        top: 6px;
        color: white;
        text-decoration: none;
        background-image: url(../images/phone-icon.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
        height: 30px;
}


.one_half {
	position: relative;
	display: inline-block;
	width: 540px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
}

.one_third {
	position: relative;
	display: block;
	vertical-align: top;
	color:#145b94;
}

.one_third p {
	display: block;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	color:#145b94;
	width: 95%;
}

.two_third {
	position: relative;
	display: block;
	vertical-align: top;
	color: #145b94;
}

.two_third p {
	display: block;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	color:#145b94;
	width: 95%;
}

.force_inline {
	display: block;
}

div.article.force_inline{
	text-align: center;
	vertical-align: top;
	color: #145b94;
}

ul.force_inline{
	vertical-align: top;
	color:#145b94;
}

li{
	text-align: right;
}

h1.thumbnail{
	color: #145b94;
	background-image: url(../images/icon-pin-orange.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 40px 40px;
	padding-top: 50px;
}

/*home page*/

div#content {
	display: block;
	margin-top: 87px;
}

.inner_wrap {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

div.two_third div.article.force_inline{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/dark_avatar.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 298px;
	width: 95%;
}


/*about page */

div#content div.inner_wrap div.two_third.about div.article h1{
	color: #145b94;
	background-image: url(../images/aboutus-icon-mobile.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100px 100px;
	padding-top: 114px;
}

div#content div.inner_wrap div.one_third.about div.article h1{
	color: #145b94;
	background-image: url(../images/aboutus-icon-mobile.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100px 100px;
	padding-top: 114px;
}

div#content div.inner_wrap div.one_third div.article p{
	color: #6A6A6A;
	width: 200px;
}

div#content div.inner_wrap div.two_third.about div.article {
}
div#content div.inner_wrap div.two_third.about div.article p{
	color: #6A6A6A;
}
div#content div.inner_wrap div.two_third.about div.article li{
	color: #6A6A6A;
}

div#content div.inner_wrap div.one_third.secound{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	padding-bottom: 0px;
}
div#content div.inner_wrap div.one_third.secound h1.thumbnail{
	color: #145b94;
	background-image: url(../images/aboutus-icon-mobile.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100px 100px;
	padding-top: 114px;
}

div#content div.inner_wrap div.about_article_last{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color:#145b94;
	width: 95%;
}

div#content div.inner_wrap div.about_article_last div.article h1{
	color: #145b94;
	background-image: url(../images/aboutus-icon-mobile.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100px 100px;
	padding-top: 114px;
}

div#content div.inner_wrap div.about_article_last p {
	display: block;
	text-align: right;
	color:#145b94;
}



/*areas-of-practice*/


div#content div.inner_wrap h1.areas{
	color: #145b94;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

div#content div.inner_wrap div#icons {
	display: block;
	text-align: center;
}
div#content div.inner_wrap div#icons a {
	display: block;
	width: 159px;
	color: #133469;
	text-decoration: none;
	font-size: 2em;
}

div#content div.inner_wrap div#icons a:after {
	display: block;
	height: 215px;
	background-image: url(../images/sprite-icons.svg);
	background-size: 790px 440px;
	background-repeat: no-repeat;
	content: ' ';
}

div#content div.inner_wrap div#icons a:after {
	margin-top: 10px;
	transition: 0.3s all;
}

div#content div.inner_wrap div#icons a:hover {
	color: #e5871b ;
}

div#content div.inner_wrap div#icons a.active {
	color: #e5871b ;
}

div#content div.inner_wrap div#icons a.mekarkein:after {
	background-position: -600px 0px;
	transition: 0.3s all;
}

div#content div.inner_wrap div#icons a.mekarkein:hover:after {
	background-position: -600px -225px;
}

div#content div.inner_wrap div#icons a.mekarkein.active:after {
	background-position: -600px -225px;
}

div#content div.inner_wrap div#icons a.planning:after {
	background-position: -400px 0px;
}

div#content div.inner_wrap div#icons a.planning:hover:after {
	background-position: -400px -225px;
}

div#content div.inner_wrap div#icons a.planning.active:after {
	background-position: -400px -225px;
}


div#content div.inner_wrap div#icons a.commercial:after {
	background-position: -200px 0px;
}

div#content div.inner_wrap div#icons a.commercial:hover:after {
	background-position: -200px -225px;
}

div#content div.inner_wrap div#icons a.commercial.active:after {
	background-position: -200px -225px;
}


div#content div.inner_wrap div#icons a.reposession:after {
	background-position: 0px 0px;
}

div#content div.inner_wrap div#icons a.reposession:hover:after {
	background-position: 0px -225px;
}

div#content div.inner_wrap div#icons a.reposession.active:after {
	background-position: 0px -225px;
}

div#content div.inner_wrap div#article_container{
	text-align: right;
}

div.dynamic_content {
	display: block;
	padding-top: 220px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	position: relative;
}

div.dynamic_content:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -97.5px;
	background-image: url(../images/sprite-icons.svg);
	background-position: -600px 0px;
	background-size: 790px 440px;
	background-repeat: no-repeat; 
	width: 195px;
	height: 220px;
}

div.dynamic_content:nth-of-type(2):before {
	background-position: -400px 0px;	
}

div.dynamic_content:nth-of-type(3):before {
	background-position: -200px 0px;	
}

div.dynamic_content:nth-of-type(4):before {
	background-position: 0px 0px;	
}

div#content div.inner_wrap div#article_container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding-bottom: 20px;
	position: relative;
}

div.dynamic_content h3{
	display: block;
	font-size: 1.7em;
	text-align: center;
	padding: 1px;
	margin: 0;
	background-color: #E6871C;
	color: white;
	padding: 6px;
}



/*articles page */

div#content div.inner_wrap h1.atricles{
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.7em;
}

div#content div.inner_wrap div.mobile_secound_articles h1{

	padding-top: 12px;
	height: 45px;
	text-align: center;
	background-color: #E6871C;
	color: white;
}

div#content div.inner_wrap h1.articles.upper {
background-image: url(../images/articles-icon-mobile.svg);
background-repeat: no-repeat;
background-position: top center;
background-size: 100px 100px;
padding-top: 114px;
}

div#content div.inner_wrap div.articles_upper {
	display: block;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}


div#content div.inner_wrap div.articles_upper h6{
	display: block;
	text-align: center;
	margin: 0px;
	color: #145b94;
	background-image: url(../images/articles-icon-mobile.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100px 100px;
	padding-top: 114px;
	font-size: 2em;
}

div#content div.inner_wrap div.articles_upper div.article p{
	text-align: center;
}

div#content div.inner_wrap div.mobile_secound_articles{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 95%;
}

div#content div.inner_wrap div.mobile_secound_articles article {
	display: block;
	padding-bottom: 20px;
}

div#content div.inner_wrap div.mobile_secound_articles article h3{
	display: block;
	font-size: 1.7em;
	text-align: right;
	padding: 1px;
	margin: 0;
	border-bottom: 2px solid #E6871C;
	color: #E6871C;
}

div#content div.inner_wrap div.mobile_secound_articles article p {
	margin: 0;
	margin-bottom: 20px;
}

div#content div.inner_wrap div.mobile_secound_articles article strong {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#content div.inner_wrap div.mobile_secound_articles article ul {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-right: 20px;
}


/*contact page*/

div#content div.inner_wrap h1.contact{
	background-image: url(../images/contactus-icon-mobile.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 90px 90px;
	text-align: center;
	padding-top: 108px;
	color: #133469;
}
div#content div.inner_wrap h2.contact{
	background-color: #E6871C;
	color: white;
	font-size:2em;
	padding:5px;
}

div#content div.inner_wrap div.contact.secound{
	background-image: url(../images/bright_avatar.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 384px;
	padding-bottom: 10px;
}

div#content div.inner_wrap div.contact.secound h3{
	background-color: #E6871C;
	color: white;
	font-size:1em;
	padding:10px;
}

div.one_third form{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.one_third form input{
	margin: 0px;
	margin-top: 9px;
	padding: 9px;
	padding-left: 83px;
	text-align: center;
	font-size: 1em;
	border-radius: 3px;
	border: 2px solid #999999;
}

div.one_third form label{
	display: inline-block;
}

div.one_third form label span {
	display: block;
	margin: 0;
	text-align: center;
	padding-top: 10px;
}

input[type="text"]{
	width: 180px;
}

div.one_third form div.controls .submit {
	padding: 5px;
	margin-top: 10px;
	width: 100px;
	background-color: #E6871C;
	color: white;
	margin-bottom: 10px;
	border-radius: 5px;
	margin: 0;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h5{
	display: block;
	width: 200px;
	font-size: 1em;
	text-align: right;
}

/*Faq page*/

section.faq {
	display: block;
	margin-top: 87px;	
	text-align: center;
}

section.faq h2 {
	text-align: center;
	color: #145b94;
	font-size: 2em;	
}

div#questions {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	width: 95%;
}

div#questions label {
	display: block;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;

}

div#questions label input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	float: right;
	display: none;
	position: relative;
	cursor: pointer;
}

div#questions label input[type="checkbox"]:checked ~ div {
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

div#questions label p {
	display: block;
	padding-bottom: 40px;
	font-weight: bold;
	color: black;
	position: relative;
}

div#questions label p:before {
    width: 1.5em;
    height: 1.5em;
    content: '';
    margin-left: 5px;
    position: absolute;
    bottom: 0px;
    right: 50%;
    margin-right: -0.75em;
    background-image: url(../images/faq-sprite.svg);
    background-repeat: no-repeat;
    background-size: 1.5em 3em;
    background-position: 0px 0px;
    transition: all 0.5s;
}

div#questions label input[type="checkbox"]:checked ~ p:before {
	background-position: 0em -1.5em;
}

div#questions label div {
	display: none;
	color: #145b94;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}


/*footer style*/

footer{
	background-color:#133469;
	text-align: center;
	border-top: 12px solid #6B6B6B;
}

footer a{
	display: block;
	font-size:2em;
	padding:1.8px;
	text-decoration: none;
	color:white;
	text-align: center;
}

footer img{
	display: inline-block;
	padding-top: 10px;
	width: 200px;
	height: 50px;
}

footer a.location
{
	display: block;
	vertical-align: top;
	background-image: url(../images/location-icon.svg);
	background-position: 98% center !important;
	padding-right: 35px;
}

footer div.inner_wrap div.footer_info a{
	display: block;
	background-repeat: no-repeat;
	background-position: right center;
	color: white;
	text-decoration: none;
}

footer div.inner_wrap div.footer_info a.phone{
	display: block;
	vertical-align: top;
	background-image: url(../images/phone-icon.svg);
}